* {
    white-space: pre-line;
}

.tablecont {
    margin: 25px auto;
    float: left;
    margin-left: 50px;
    overflow-y: auto;
    height: 200px;
}

/* @import "compass/css3"; */
 table {
	 /* font-family: 'Arial'; */
	 
	 border-collapse: collapse;
     border: 1px solid;
	 /* border: 1px solid #eee; */
	 /* border-bottom: 2px solid #0cc; */
	 /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05); */
}

td:focus-within {
    background: #f4f4f4;
}

th {
	 border: 1px solid black;
	 padding: 3px;
     background: #0cc;
	 color: #fff;
     font-size: 0.95rem
}

td {
    margin: 0;
    padding: 2px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

input {
    font-size: 1rem;
    padding: 0;
    margin-bottom: 2px;
    width: 90px;
    border: 0;
    background: transparent;
    text-align: center;
}

input:focus {
    outline: none;
}

.number {
    width: 50px;
    padding-left: 15px;
}

.close {
    cursor: pointer;
    font-size: 20px;
    padding: 5px
}

.play {
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
    color: #50d927;
}

.plain {
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
}

.check {
    font-size: 20px;
    padding: 5px;
    color: #50d927;
}

.cross {
    font-size: 20px;
    padding: 5px;
    color: red;
}

.actTables {
    width: 80%;
    float: left;
    clear: both;
}

.dutyTables {
    width: 80%;
    float: left;
    clear: both;
}

.actTables th {
    background: #eda342;
}

.dutyTables th {
    background: #c547ff;
}

.Tables {
    width: 80%;
    float: left;
    clear: both;
}

.selected {
    background: lightgrey;
    width: 300px;
}

.unselected {
    width: 300px;
}

.treeWrapper {
    position: absolute;
    height: 100%;
    width: 100%;
}

.hist {
    float: left;
    margin-left: 50px;
    clear: both;
}

.histButton {
  float: right;
  margin-top: 25px;
  margin-right: 100px;
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.histButton:hover,
.histButton:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.histButton:active {
  opacity: .5;
}

.upload {
    margin-top: 25px;
    margin-right: 50px;
    padding: 0px 14px;
    padding-top: 7px;
    padding-bottom: 2px;
}
